body {
    background-color: aliceblue;
    margin: 0;
    overflow-x: hidden;
}


.font-link {
    font-family: "Roboto", sans-serif !important
}

.banner {
    background-image: url("./image/raviImage.png");
    background-size: cover;
    background-position: center;
    height: 450px; 
    position: relative;
}

.flou {
    backdrop-filter: blur(2px);
    height: 450px;
}

.overlay {
    width: 35%;
    height: 20%;
    background-color: rgba(169, 214, 253, 0.5);
    border-radius: 10px;
    margin-top: 5%;
    margin-right: 10%;
    align-self: flex-end;
}

.texteOverlay {
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    margin-top: 10px;
    color: #0D6EFD;
    opacity: 1;
}

.btn-container {
    gap:20%;
}

.btnSize {
    min-width: 300px;
    min-height: 100px;
    font-size: 130%;
    border-radius: 20px;
}

.bottomBanner {
    height: 70px;
    background-color: #0D6EFD;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    flex-shrink: 0;
}

.bannerMyProfil {
    background-image: url("./image/sapinImage.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100hv;
    position: relative;
    /* overflow: hidden; */
}

.bannerMyProfil::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./image/sapinImage.jpg") center/cover no-repeat;
  filter: blur(6px);
  transform: scale(1.05);
  z-index: 0;
}

.containerMyProfil {
    width: 50%;
}

.containerHomePage {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0,0,0,0.5);
    overflow-x: hidden;
    overflow-y: auto;
}

.background-clip {
    position: fixed;
    right: 0;
    bottom: 0 ;
    z-index: -1;
    filter: blur(5px);
    transform: scale(1.05);
    object-fit: cover;
}

.resizer {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    background: #0D6EFD;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    border-radius: 6px;
}

.resizer.isResizing {
    background: #82b0f5;
    opacity: 1;
}

*:hover>.resizer{
    opacity: 1;
}


@media (min-aspect-ratio: 16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
}

@media screen and (width <=500px  ) {
    .overlay {
        width: 70%;
        height: auto;
        background-color: rgba(202, 224, 243, 0.5);
        border-radius: 10px;
        margin-top: 5%;
        justify-self: center;
        margin-top: 10%;
        margin-right: 0px;
        align-self: auto;
        padding: 10 10 10 10;
    }

    .btnSize {
        min-width: 180px;
        min-height: 50px;
        font-size: 130%;
        border-radius: 20px;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
        margin-bottom: 20px;
    }

    .bottomBanner {
        height: 70px;
        background-color: #0D6EFD;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        flex-shrink: 0;
    }

    table{
        overflow-y:scroll;
        max-width: 100%;
        display:block;
    }

    .containerMyProfil {
        width: 90%;
    }
}